#top-level-wrapper * {
    margin-top: 0px;
    background-color: white;
}

#container > * {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}

#form_input Select{
    width: 190px;
}

/*#fig1 {
    background-color: red;
}*/
/*if there are two competing style blocks the one higher has precedence?*/